.login_form{
  margin: 90px auto;
  width: 510px;
  height: 510px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.input_form{
  height: 50px;
}
.login_button,
.register_button{
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: #ae1c9a;
  padding: 12px 0;
}
.register_button{
  padding: 10px 0;
}
.register_form{
  margin: 90px auto;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.reset_password_form{
  margin: 90px auto;
  width: 510px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}