*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#header{
  height: 60px;  
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #3f6ad8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#header #logo{
  width: 100px;
  height: 50px;
  cursor: pointer;
}
#header .user_img{
  object-fit: cover;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
#header .notification_icon{
  cursor: pointer;
}
#header .bell_container .notification_number{
  z-index: 1000;
  left: 27%;
  top: -8px;
  font-size: 12px;
  padding: 0 6px;
  border-radius: 50%;
}
.sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 280px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.sidebar div{
  cursor: pointer;
}
.sidebar div:hover{
  opacity: 0.5;
}
.sidebar a,
.body .form .title,
.primary_color,
.body .table_container .title{
  color: #3f6ad8;
}
.sidebar .menu_button{
  transform: scale(1.5);
  color: #3f6ad8;
}
.body{
  margin-left: 310px;
  margin-top: 90px;
  margin-right: 30px;
  margin-bottom: 1000px;
  transition: 0.5s;
}
.body .form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.body .table_container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button_add,
.button_edit,
.button_reset{
  background-color: #3f6ad8;
  border: none;
  transition: 0.25s;
}
.body .table_container .button_add:hover,
.button_edit:hover{
  transform: scale(0.9);
}
.body .img_edit{
  width: 220px;
  height: 220px;
  object-fit: cover;
}
